#apply-external{
	color: yellow;
}

/*instruction no.6*/
*{
	font-family: "Verdana", sans-serif;
	font-size: 20px;
}

/*instruction no.7*/
h1 {
font-size: 45px;
}

/*instruction no.8*/
#the-following{
	text-transform: uppercase;
}

/*instruction no.9*/
.program-language{
	background-color: darkseagreen;
	border: none;

}

/*instruction no.10*/
li[type]{
	background: white;
	border: 2px solid skyblue;
	height: 25px;
	width: 95vw;
}

/*instruction no.11*/
img+ul{
	list-style: none;
}

/*instruction no.12*/
 section img{
	height: 100px;
	width: 100px;
	border-radius: 50px;

/*instruction no.13*/
}
h4 ~ p {
	text-align: center;


	/*Instruction no.14*/
}
body > section > ul{
	letter-spacing: 10px;
}